# 编译缓存（所有子项目都忽略）
**/obj/
**/bin/

# 编译生成文件（dll、pdb 强制忽略）
*.dll
*.pdb
*.cache
*.exe

# VS编辑器缓存
.vs/
*.suo
*.user
*.dtbcache.v2

# 忽略配置文件
appsettings.json
appsettings.Development.json
appsettings.Production.json
*.log